/* Make font big for our aging eyes */
body {
	font: normal 14pt Helvetica;
  }
  input {
    font-size: inherit;
  }
  textarea {
    font-size: inherit;
  }

/* Header  */
.Header {
    border-bottom: 3px solid black;
    padding: 10px;
}

.Header h1 {
    text-align: center;
}

/* SearchBar */
.SearchBar {
    border-bottom: 3px solid black;
    padding: 10px;
}

.SearchBar input[type="search"] {
    margin-left: 0;
    margin-right: 0;
    width: 100%;

    -moz-appearance: none;/* older firefox */
    -webkit-appearance: none; /* safari, chrome, edge and ie mobile */
    appearance: none; /* rest */
}

.SearchBar input {
    margin: 8px;
}

/* AttendanceSheet */

.AttendanceSheet {
    padding: 10px;
}

/* AttendanceList */

.AttendanceList {
    border-bottom: 3px solid black;
}

.AttendanceList table {
    width: 100%;
    border-collapse: collapse;
}

/* AttendanceRecord */

.AttendanceRecord {
    text-align: left;
    color: black;
    border-top: 3px solid white;
}

.AttendanceRecord td {
    padding: 5px;
}

.AttendanceRecord .presence {
    text-align: right;
    white-space:nowrap;
}

.AttendanceRecord.present:nth-child(even) {
    background-color: #AAEEAA;
}

.AttendanceRecord.present:nth-child(odd) {
    background-color: #80EE80;
}


.AttendanceRecord.absent:nth-child(even) {
    background-color: #EEAAAA;
}

.AttendanceRecord.absent:nth-child(odd) {
    background-color: #EE8080;
}

.AttendanceRecord.pending:nth-child(even) {
    background-color: #AAAAAA;
}

.AttendanceRecord.pending:nth-child(odd) {
    background-color: #808080;
}

.AttendanceRecord.pending .attendee {
    opacity: 0.5;
}

.AttendanceRecord.pending .presenceIcon {
    opacity: 0.5;
} 

.AttendanceRecord .details {
    font-size: 0.8em;
    margin-left: 18px;
    margin-right: 18px;
}

.AttendanceRecord .details {
    font-size: 0.8em;
    margin-left: 18px;
    margin-right: 18px;
}
  
.AttendanceRecord .pending-spinner {
    margin: 0 2px;
    display: inline-block;
    width: 1EM;
    height: 1EM;
    transform-origin: 50%;
    border: 3px solid #80EE80;
    border-top: 3px solid #EE8080;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    position: relative;
    vertical-align: bottom;
    line-height: inherit;
}

/* NewAttendeeForm */

.NewAttendeeForm {
    border-bottom: 3px solid black;
}
.NewAttendeeForm h2 {
    text-align: center;
}

.NewAttendeeForm input[type="text"] {
    width: 100%;
}

.NewAttendeeForm textarea {
    width: 100%;
}

.NewAttendeeForm .centered {
    text-align: center;
}

.NewAttendeeForm input[type="submit"] {
    border-color: black;
    font-weight: bold;
}

.Loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.Loading .inner {
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.spinner {
    border: 16px solid #80EE80;
    border-top: 16px solid #EE8080;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
